@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}
 
<h1>Listado de encomiendas</h1> 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descripción</th>
      <th scope="col">Peso</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentación</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var encomienda in Model.Encomienda)
    {
        <tr>
          <th scope="row">@encomienda.id</th>
          <td>@encomienda.descripcion</td>
          <td>@encomienda.peso</td>
          <td>@encomienda.tipo</td>
          <td>@encomienda.presentacion</td>
          <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a>
              <form method="POST">
                <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@encomienda.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
              </td>
        </tr>
    }
    <!--<tr>
      <th scope="row">1</th>
      <td>Articulos</td>
      <td>10 Kg</td>
      <td>Tipo X</td>
      <td>Caja</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Articulos</td>
      <td>15 Kg</td>
      <td>Tipo Y</td>
      <td>Caja</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Documentos</td>
      <td>1 Kg</td>
      <td>Tipo Z</td>
      <td>Sobre</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Diploma</td>
      <td>1 Kg</td>
      <td>Tipo A</td>
      <td>Sobre</td>
    </tr>-->
  </tbody>
</table>
