@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}

<h1>Listado de Servicios</h1> 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Encomienda</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var servicio in Model.Servicio)
    {
      <tr>
        <td>@servicio.id</td>
        <td>@servicio.origen</td>
        <td>@servicio.destino</td>
        <td>@servicio.fecha</td>
        <td>@servicio.hora</td>
        <td>@servicio.encomienda</td>
        <td>
          <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
          <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
          <a class="btn btn-danger" href="">Eliminar</a>
        </td>
      </tr>
    }
    <!--<tr>
      <th scope="row">1</th>
      <td>54215UFS85</td>
      <td>Cali</td>
      <td>Bogotár</td>
      <td>24-Sep-2021</td>
      <td>8:00am</td>
      <td>Articulos</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>AJU452145</td>
      <td>Caratagena</td>
      <td>Pasto</td>
      <td>25-Sep-2021</td>
      <td>9:15am</td>
      <td>Articulos</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>123658OUNFD</td>
      <td>Medellín</td>
      <td>San Andrés</td>
      <td>26-Sep-2021</td>
      <td>2:00pm</td>
      <td>Articulos</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>369865LKMVB</td>
      <td>Amazonas</td>
      <td>Neiva</td>
      <td>25-Sep-2021</td>
      <td>4:00pm</td>
      <td>Articulos</td>
    </tr>-->
  </tbody>
</table>
